[Desktop Entry]
Version=1.0
Name=PyCharm
Exec=/usr/local/software/pycharm-community-2020.1.2/bin/pycharm.sh
Icon=/usr/local/software/pycharm-community-2020.1.2/bin/pycharm.png
Terminal=false
Type=Application
